.second-nav {
  position: relative;
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}

.second-nav a.logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url("../img/milogo.png");
  background-origin: border-box;
  background-position: 0 0;
}

.second-nav a.logo:hover {
  background-position: -50px 0;
}

.second-nav .nav-div {
  width: 650px;
  height: 100%;
  line-height: 100px;
  margin-left: 200px;
  text-align: center;
}

.second-nav .nav-div a {
  font: 16px Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB,
    Heiti SC, WenQuanYi Micro Hei, sans-serif;
  padding: 0 8px;
  color: #333;
}

.second-nav .nav-div a:hover {
  color: red;
}

/* 设置搜索框样式 */

.search-form {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 50px;
  text-align: center;

  position: absolute;
  right: 0;
  top: 25px;
}

.search-form td:last-child {
  width: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.search-form input {
  width: 250px;
  padding: 0 10px;
}

.search-form i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

/* 设置搜索框鼠标样式 */
.search-form:hover {
  border: 1px solid pink;
}

.search-form:hover td:last-child {
  border: 1px solid pink;
}

.search-form td:last-child:hover {
  background-color: orange;
}

.search-form td:last-child:hover i {
  color: white;
}

/* 设置下拉框的样式表 */
.second-xiala {
  display: none;
  position: absolute;
  left: -169px;
  top: 100px;
  z-index: 8888;
  /* 宽度设置问题存在，后续解决 */
  width: 100%;
  height: 300px;

  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.second-nav .nav-div a:hover .second-xiala {
  display: block;
}
